<configuration>
    <contextName>cookiestore</contextName>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="${CS_ROOT_LEVEL:-INFO}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>